[Desktop Entry]
Name=Zalo Desktop
GenericName=Nhan tin
Comment=Zalo Desktop cho Linux
Exec=zalo-desktop %U
Icon=${SNAP}/usr/share/icons/hicolor/512x512/apps/zalo.png
Terminal=false
Type=Application
Categories=Network;InstantMessaging;Chat;
StartupWMClass=zalo
