# Nguon tai ve (khong commit binary)
sources/
jxlbin/

# San pham dung
stage/
build-dir/
.flatpak-builder/
.work/

# Rac
*.dmg
*.snap
*.zip
*.flatpak
*~

# Kho ostree khi xuat bundle
repo/

# AppImage
dist/
.appdir/
.appimagetool
