[Desktop Entry]
Name=Zalo Desktop
GenericName=Nhan tin
Comment=Zalo Desktop cho Linux
Exec=zalo %U
Icon=ac.d3v.ZaloLinux
Terminal=false
Type=Application
Categories=Network;InstantMessaging;Chat;
StartupWMClass=zalo
